.container {
  max-width: 1280px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

.nav-cont {
  width: 880px;
}

.btn-main, .btn-light, .btn-dark {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
}

.btn-main {
  color: white;
  background-color: whitesmoke;
}

.btn-light {
  color: black;
  background-color: #b4d8bf;
}

.btn-dark {
  color: white;
  background-color: #00782d;
}

button[class^="btn-"]:hover,
a[class^="btn-"]:hover,
input[class^="btn-"]:hover {
  background-color: whitesmoke;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.lead-head {
  font-size: 0.7rem;
  text-align: unset;
}

.text-center {
  text-align: center;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.py-4 {
  padding: 4rem 0;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.my-4 {
  margin: 4rem 0;
}

.bottom-line {
  height: 2px;
  width: 3rem;
  background: whitesmoke;
  display: block;
  margin: 0 auto 1rem auto;
  text-align: center;
}

.section-title {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
}

.bg-main {
  background: whitesmoke;
  color: #000;
}

.bg-dark {
  background: #00782d;
  color: #fff;
}

.bg-light {
  background: #b4d8bf;
  color: #000;
}

.bg-medium {
  background: #459a69;
  color: #fff;
}

@media screen and (max-width: 500px) {
  .main-build {
    background-color: #00782d;
    height: 23px;
    padding: 0.3rem 0.1rem;
    display: flex;
    justify-content: space-around;
  }
  .main-build ul {
    display: flex;
  }
  .main-build li {
    padding: 0 0.6rem;
    color: #b4d8bf;
    font-family: "Droid Arabic Kufi", serif;
    font-size: 0.9rem;
  }
  .main-build li a {
    text-decoration: none;
    color: #b4d8bf;
  }
  .main-build .left {
    float: left;
  }
  .main-build .right {
    float: right;
  }
  .main-build .Center {
    float: left;
    left: 25%;
    position: relative;
    display: none;
  }
  .main-build .Center .search {
    width: 500px;
    height: 20px;
    background: #444;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    border: px solid #fff;
  }
  .main-build .Center .search ::placeholder {
    color: #b4d8bf;
  }
  .main-build .Center .search input {
    width: 370px;
    height: 20px;
    padding: 10px 5px;
    float: left;
    color: #ccc;
    border: 0;
    background: transparent;
    border-radius: 3px 0 0 3px;
  }
  .main-build .Center .search input:focus {
    outline: 0;
    background: transparent;
  }
  .main-build .Center .search button {
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 20px;
    width: 120px;
    color: #b4d8bf;
    background: transparent;
    border-left: 1px solid #00782d;
    border-radius: 0 3px 3px 0;
  }
  .main-build .Center .search button:hover {
    background: #b4d8bf;
    color: #00782d;
  }
  .main-build .Center .search button:active {
    box-shadow: 0px 0px 12px 0px #e1e1e1;
  }
  .main-build .Center .search button:focus {
    outline: 0;
  }
  #logo {
    width: 120px;
    height: 120px;
  }
  #main-nav {
    display: flex;
    justify-content: center;
    padding-top: 0.3rem;
  }
  #main-nav ul {
    display: flex;
  }
  #main-nav li {
    padding: 3.5rem 0rem 0rem 0.5rem;
  }
  #main-nav a {
    text-decoration: none;
    color: #00782d;
    text-transform: uppercase;
    border-bottom: 1px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;
    font-size: 0.5rem;
  }
  #main-nav a:hover {
    border-color: #459a69;
  }
  #main-nav a.current {
    border-color: #00782d;
  }
  #header-home {
    background: url("main.png") no-repeat center right/cover;
    height: 100vh;
    color: #fff;
  }
  #header-home .header-content-right {
    float: center;
    width: 100%;
    text-align: center;
    padding-top: 11%;
  }
  #header-home .header-content-right h1 {
    color: #b4d8bf;
    font-size: 3rem;
  }
  #header-home .header-content-left {
    float: left;
    width: 50%;
    text-align: center;
    padding-top: 11%;
    display: none;
  }
  #header-home .header-content-left img {
    width: 200px;
    height: 200px;
  }
  #header-home .header-content-left h1 {
    font-size: 3rem;
    line-height: 1.2;
    padding-bottom: 1.2rem;
  }
  #header-inner {
    background: #292540;
    height: 6rem;
  }
  #home-a .spiecials {
    margin-top: 1rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
  #home-a .spiecials h3 {
    padding: 0.7rem 0;
  }
  #home-a .spiecials p {
    font-size: 0.7rem;
    margin: 0 2rem;
    text-align: center;
  }
  #home-a .spiecials img {
    width: 150px;
    padding-bottom: 0.4rem;
  }
  #home-b {
    background-image: url(map.png);
    height: 30vh;
  }
  #home-b .left {
    float: inherit;
    padding: 0rem;
    padding-top: 5rem;
  }
  #home-b h1 {
    color: #b4d8bf;
    font-size: 1.2rem;
  }
  #home-b p {
    color: #b4d8bf;
    font-size: 0.7rem;
  }
  #home-c .process {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0.5rem;
    text-align: center;
    padding-bottom: 2rem;
  }
  #home-c .process img {
    width: 300px;
  }
  #home-c .process h1 {
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
    color: #00782d;
  }
  #home-c .process p {
    font-size: 0.7rem;
    color: #459a69;
  }
  #header-other {
    background: url("othermain.png") no-repeat center right/cover;
    height: 30vh;
    color: #fff;
  }
  .Product {
    padding: 2rem;
  }
  .Product h1 {
    border-right: 3px solid #00782d;
    padding-right: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: right;
  }
  .Product h2 {
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
    color: #00782d;
  }
  .Product p {
    font-size: 0.7rem;
    text-align: right;
  }
  .Product .Product1 .box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
  }
  .Product .Product1 .box2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
  }
  .Product .Product1 .box3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
  }
  .who .set1 {
    padding: 3rem;
  }
  .who .set1 .spiecials {
    margin-top: 3rem;
    display: none;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
  }
  .who .set1 .spiecials h1 {
    padding: 0.7rem 0;
  }
  .who .set1 .spiecials p {
    font-size: 0.7rem;
    margin: 0 2rem;
    text-align: center;
  }
  .who .set1 .spiecials img {
    width: 150px;
    padding-bottom: 0.4rem;
  }
  .who .set1 h1 {
    text-align: center;
    margin: 1rem;
  }
  .who .set1 p {
    text-align: center;
    margin: 1rem;
  }
  .who .set2 {
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
    text-align: center;
  }
  .who .set2 h1 {
    text-align: center;
    margin: 1rem;
  }
  .who .set2 p {
    text-align: center;
    margin: 1rem;
  }
  .who .set3 {
    background-color: #b4d8bf;
    padding: 3rem;
  }
  .who .set3 h1 {
    text-align: center;
    margin: 1rem;
  }
  .who .set3 p {
    margin: 1rem;
  }
  .who .set3 .set3pic {
    margin-top: 3rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }
  .who .set3 .set3pic h3 {
    padding: 0.7rem 0;
  }
  .who .set3 .set3pic p {
    font-size: 0.7rem;
    margin: 0 2rem;
    text-align: center;
  }
  .who .set3 .set3pic img {
    width: 150px;
    padding-bottom: 0.4rem;
  }
  .who .set4 {
    background-color: #459a69;
    padding: 3rem;
  }
  .who .set4 h1 {
    text-align: center;
    margin: 1rem;
  }
  .who .set4 p {
    text-align: center;
    margin: 1rem;
  }
  #fa h1 {
    padding: 0.7rem 0;
    text-align: center;
  }
  #fa p {
    font-size: 0.7rem;
    margin: 0 2rem;
    text-align: center;
  }
  #fa .aa-box {
    background-color: #b4d8bf;
    border-radius: 10px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5rem;
  }
  .contact {
    padding: 1rem;
  }
  .contact h1 {
    padding: 0.7rem 0;
    text-align: center;
  }
  .contact p {
    font-size: 0.7rem;
    margin: 0 2rem;
    text-align: center;
    padding-bottom: 2rem;
  }
  .contact .text-fields {
    display: grid;
    grid-template-areas: "name email" "subject phone" "message message";
    grid-gap: 1.2rem;
    margin-bottom: 0.2rem;
  }
  .contact .text-fields .name-input {
    grid-area: name;
  }
  .contact .text-fields .subject-input {
    grid-area: subject;
  }
  .contact .text-fields .email-input {
    grid-area: email;
  }
  .contact .text-fields .phone-input {
    grid-area: phone;
  }
  .contact .text-fields .message-input {
    grid-area: message;
    height: 100px;
  }
  .contact .text-fields .text-input {
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    border-left: 1px solid whitesmoke;
    background: #b4d8bf;
  }
  .contact .text-fields ::placeholder {
    color: white;
    text-align: right;
  }
  .contact button[type="submit"] {
    width: 100%;
    display: inline-block;
    transition: all 0.5s;
    border: none;
    cursor: pointer;
    border-radius: 0px 0px 9px 9px;
    background: #b4d8bf;
    color: #00782d;
  }
  .contact button[type="submit"]:hover {
    background: #00782d;
    color: #b4d8bf;
  }
  .contact .bottom-line {
    background-color: #00782d;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .contact .contact-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .contact .contact-box h1 {
    text-align: center;
    font-size: 1rem;
  }
  .contact .contact-box p {
    font-size: 0.7rem;
    text-align: center;
  }
  .photo {
    height: 30vh;
    padding-top: 10%;
  }
  .photo h1 {
    text-align: center;
  }
  #main-footer {
    background: #00782d;
    color: white;
    padding: 1.5rem;
  }
  #main-footer .fot-bars {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0.5rem;
    text-align: center;
    padding-bottom: 0rem;
  }
  #main-footer .fot-bars .bar1 {
    padding-left: 1rem;
  }
  #main-footer .fot-bars .bar1 h1 {
    font-size: 1rem;
    padding: 0.3rem;
  }
  #main-footer .fot-bars .bar1 h2 {
    font-size: 0.6rem;
    text-align: center;
    padding: 0.3rem;
  }
  #main-footer .fot-bars .bar1 p {
    font-size: 0.6rem;
    text-align: justify;
    padding: 0.3rem;
    color: #b4d8bf;
  }
  #main-footer .fot-bars .bar2 {
    border-right: 0px solid black;
    padding-right: 0rem;
    margin-right: 0rem;
  }
  #main-footer .fot-bars .bar2 h1 {
    font-size: 0.8rem;
    padding: 0.3rem;
  }
  #main-footer .fot-bars .bar2 input {
    width: 100%;
    height: 20px;
    padding: 0.5rem;
    margin: 0.3rem;
    float: left;
    color: black;
    border: 0;
    background: rgba(0, 0, 0, 0.2);
    border-bottom: solid 1px black;
    outline: none;
  }
  #main-footer .fot-bars .bar2 ::placeholder {
    color: white;
    text-align: left;
  }
  #main-footer .fot-bars .bar2 input[type="submit"] {
    color: white;
    border: 0 none;
    background: rgba(0, 0, 0, 0.2);
    width: 104%;
    border-radius: 0px 0px 9px 9px;
    padding: 0.5rem;
    padding-bottom: 1.5rem;
    transition: all 0.5s;
  }
  #main-footer .fot-bars .bar2 input[type="submit"]:hover {
    background: #b4d8bf;
    color: #00782d;
  }
  #main-footer .fot-bars .bar2 input[type="submit"]:active {
    box-shadow: 0px 0px 12px 0px #e1e1e1;
  }
  #main-footer .fot-bars .bar2 input[type="submit"]:focus {
    outline: 0;
  }
  #main-footer .fot-bars .bar3 {
    display: none;
  }
  #main-footer .fot-bars .bar3 h1 {
    font-size: 0.8rem;
    padding: 0.3rem;
  }
  #main-footer .fot-bars .bar3 ul {
    list-style: none;
    float: right;
    display: grid;
  }
  #main-footer .fot-bars .bar3 li {
    list-style: none;
    text-align: right;
  }
  #main-footer .fot-bars .bar3 a {
    text-decoration: none;
    color: #b4d8bf;
    text-transform: uppercase;
    border-bottom: 1px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;
    font-size: 0.7rem;
  }
  #main-footer .fot-bars .bar4 h1 {
    font-size: 0.8rem;
    padding: 0.3rem;
  }
  #main-footer .fot-bars .bar4 ul {
    list-style: none;
    float: right;
  }
  #main-footer .fot-bars .bar4 li {
    list-style: none;
    text-align: right;
  }
  #main-footer .fot-bars .bar4 a {
    text-decoration: none;
    color: #b4d8bf;
    text-transform: uppercase;
    border-bottom: 1px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;
    font-size: 0.7rem;
  }
  #main-footer .fot-bars .bar4 .fas {
    font-size: 1rem;
  }
  .low-build {
    background-color: #b4d8bf;
    height: 10px;
    padding: 13px;
    width: auto;
  }
  .low-build .right {
    float: right;
    font-size: 0.3rem;
    color: #00782d;
  }
  .low-build .left {
    float: left;
    font-size: 0.4rem;
    font-family: "Roboto", sans-serif;
    color: #00782d;
  }
}
